#root {
  padding: 50px;
}

body {
  font-size: 14px;
  background-color: azure;
}

table {
  border-collapse: collapse;
  background-color: rgb(237, 206, 237);
  border-radius: 5px;
}

th,
td {
  padding: 10px;
}

th {
  background: rgb(221, 48, 221);
}

table,
th,
tr,
td {
  border: 2px solid;
  margin-left: 150px;
}

h1 {
  margin-left: 290px;
  font-size: 25px;
}

.form-users {
  display: flex;
  max-width: 800px;
  row-gap: 10px;
  margin-top: 15px;
}

input {
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid;
}

.add-form {
  padding: 10px;
  margin-top: 10px;
  background-color:rgb(239, 239, 45);
  border-radius: 10px;
  font-size: 14px;
}

.form-users.cancel {
  display: none;
}

.btn {
  background-color:rgb(239, 239, 45);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-del {
  width: 100%;
  cursor: pointer;
}
